<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47100126669-0k1eobdp3dnmmtpi9uth7ot3d61oe186.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47100126669-0k1eobdp3dnmmtpi9uth7ot3d61oe186</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47100126669-us2rkftjcrarfvnmds5bt0ev02k3ln2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvNLbWJoXOPm9laMXXJfJ59FhJF7L7NpY</string>
	<key>GCM_SENDER_ID</key>
	<string>47100126669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graceconnect</string>
	<key>PROJECT_ID</key>
	<string>graceconnect-9a97c</string>
	<key>STORAGE_BUCKET</key>
	<string>graceconnect-9a97c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47100126669:ios:dbd497750ab61d6ea65084</string>
</dict>
</plist>
